asgiref
attrs==18.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
data==0.4
decorator==5.0.9
Django
django-bootstrap-v5==1.0.5
django-crispy-forms
django-latex==0.1
django-tex==1.1.9.post1
djatex==0.1.16
funcsigs==1.0.2
future==0.18.2
Jinja2==3.0.1
latex==0.7.0
MarkupSafe==2.0.1
numpy
ordered-set==4.0.2
pdfkit==0.6.1
pdflatex==0.1.3
PyLaTeX==1.4.1
PyQRCode==1.2.1
pytz
shutilwhich==1.1.0
six==1.16.0
soupsieve==2.2.1
sqlparse
tempdir==0.7.1
tex==1.8
typing-extensions
wincertstore==0.2
