# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref
attrs
beautifulsoup4
# ca-certificates
certifi
charset-normalizer
data
decorator
django
django-bootstrap-v5
django-crispy-forms
django-latex
django-tex
djatex
docopt
funcsigs
future
gunicorn
idna
intel-openmp
jinja2
latex
# libblas
libcblas
liblapack
markupsafe
mkl
numpy
openssl
ordered-set
pdfkit
pdflatex
pip
pipreqs
pylatex
pyqrcode
python
python_abi
pytz
requests
setuptools
shutilwhich
six
soupsieve
sqlite
sqlparse
tbb
tempdir
tex
typing_extensions
tzdata
ucrt
urllib3
vc
vs2015_runtime
wheel
whitenoise
wincertstore
yarg
