{% extends 'cvg/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div style="width: 80%; margin:0 auto">
    {% if user.is_authenticated %}
    <h1>You are already logged in. What do you wish to do?</h1>
    <p style="text-align: center;"><a href="{% url 'cvg:cv_list' %}">Go to cvg list</a></p>
    <!-- <a href="{% url 'cvg:cv_draft_list' %}" class="k2"><i class="fa fa-envelope fa-2x"></i></a>
    <a href="{% url 'cvg:cv_new' %}" class="k2"><i class="fa fa-plus fa-2x"></i></a> -->
    {% else %}
    <h2>login</h2>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>SAP ID </td> 
        <!-- {{ form.username.label_tag }} -->
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <!-- <input type="submit" value="Login"  /> -->
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p>Dont have an account? <a href="{% url 'signup' %}">Sign up</a></p>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  {% endif %}
</div>

{% endblock %}