{% extends 'blogs/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div style="width: 80%; margin:0 auto">
    {% if user.is_authenticated %}
    <h1>You are already logged in. What do you wish to do?</h1>
    <p style="text-align: center;"><a href="{% url 'blogs:post_list' %}">Go to blogs list</a></p>
    <!-- <a href="{% url 'blogs:post_draft_list' %}" class="k2"><i class="fa fa-envelope fa-2x"></i></a>
    <a href="{% url 'blogs:post_new' %}" class="k2"><i class="fa fa-plus fa-2x"></i></a> -->

    {% else %}

    <h2>login</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Dont have an account? <a href="{% url 'signup' %}">Sign up</a></p>

    {% endif %}
    </div>
{% endblock %}