{% extends 'blogs/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% for post in posts %}
        <div>
            <div class='date'>
                <p>Published: {{post.published_date}}</p>
            </div>
            <h2><a href="{% url 'blogs:post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p>{{post.text }}</p>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock %}