{% extends 'cvg/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% for cv in cvs %}
        <div>
            <div class='date'>
                <p>Published: {{cv.published_date}}</p>
            </div>
            <h2><a href="{% url 'cvg:cv_detail' pk=cv.pk %}">{{cv.sap_id}}</a></h2>
            <p>{{cv.text }}</p>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock %}